

.kyobo__bg { background:url(./images/mok.png)no-repeat center center;  background-size: 80%; background-attachment: fixed; padding: 200px 0; }

.rareraw__bg {background:url(./images/mockup_rareraw_2.png)no-repeat center center;  background-size: 60%; background-attachment: fixed; padding: 200px 0; }


/* commo0n */
.site__link { display: block; width:100%; background-color: var(--basic-color-black); color: #fff; padding: 1rem; border-radius: 30px; text-align: center; margin-top: 1rem;}
.site__link:hover {background-color: var(--point-color); transition: 0.5s;}


#main .inner { display: flex; justify-content: space-between;  }
#main h2 {font-size: 5vw;}

#main .project__title {width: 30%;}
#main .project__item {width: 40%; margin-top: 20%; background-color: rgba(255, 255, 255, 0.9); padding: 3rem; box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;}
#main .project__item img {width: 50px;}


.project__link ul {display: flex; justify-content: space-between; flex-wrap: wrap; margin-top: 5%;}
.project__link li {width: 30%;}
.project__link img {width: 100%; box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;}
.project__link .site__link {  margin: 10% 0;}
.project__link .site__link:hover {color: #fff;}

.bar .graph { width: 100%; height:20px; background:white; margin-bottom: 10px; text-align: center;}
   
   
   
@keyframes bar {
    0% { width:0%}
    100% { width:100%; }
}

@keyframes progress {
    0% { width:0%}
    100% { width:70%; }
}

   .bar .graph .fill { width:100%; height:100%;  background:var(--basic-color-black); color: #fff; animation: bar 1s;animation-iteration-count : 1;}

   .bar .graph .tt { width:70%; animation: progress 1s;}

  dl dt {font-size: 1.3rem; padding-bottom: 5px; font-weight:600;}



  .project__visual img {width: 100%;}