

.kyobo__bg { background:url(./images/mok.png)no-repeat center center;  background-size: 80%; background-attachment: fixed; padding: 200px 0; }

.rareraw__bg {background:url(./images/mockup_rareraw_2.png)no-repeat center center;  background-size: 60%; background-attachment: fixed; padding: 200px 0; }
#rw_wrap .project__link ul {justify-content: center; gap: 4rem;}
#rw_wrap .project__link li {width: 30%;}

.samsung__bg {background:url(./images/samsung_mokup.png)no-repeat center center;  background-size: 60%; background-attachment: fixed; padding: 200px 0; }
.samsung__bg .project__title {color: #278AFF;}
.samsung__bg .site__link {background-color: #278AFF;}

.airbnb__bg {background:url(./images/mockup_airbnb3.png)no-repeat center center;  background-size: 60%; background-attachment: fixed; padding: 200px 0; }

/* common */
.site__link { display: block; width:100%; background-color: var(--basic-color-black); color: #fff; padding: 1rem; border-radius: 30px; font-size: 1.5rem; text-align: center; margin-top: 1rem;}
.site__link:hover {background-color: var(--point-color); color: #fff; transition: 0.5s;}


#main .inner { display: flex; justify-content: space-between;  }
#main h2 {font-size: 5vw; letter-spacing: -7px;}

#main .project__title {width: 30%;}
#main .project__item {width: 40%; margin-top: 20%; background-color: rgba(255, 255, 255, 0.9); padding: 3rem; box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;}
#main .project__item li:first-child {font-weight: bold; font-size: 1.3rem;}
#main .project__item strong {display: inline-block; margin: 20px 0;}
#main .project__item img {width: 50px;}


.project__link ul {display: flex; justify-content: space-between; flex-wrap: wrap; margin-top: 5%;}
.project__link li {width: 30%;}
.project__link img {width: 100%; box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;}
.project__link .site__link {  margin: 10% 0;}
.project__link .site__link:hover {color: #fff;}

.bar .graph { width: 100%; height:20px; background:white; margin-bottom: 10px; text-align: center;}
   
   
   
@keyframes bar {
    0% { width:0%}
    100% { width:100%; }
}

@keyframes progressKB {
    0% { width:0%}
    100% { width:70%; }
}

@keyframes progressTJ {
    0% { width:0%}
    100% { width:50%; }
}
@keyframes progresRW {
    0% { width:0%}
    100% { width:80%; }
}

   .bar .graph .fill { width:100%; height:100%;  background:var(--point-color); color: #fff; animation: bar 1s;animation-iteration-count : 1;}

    /* 교보문고 진행바 style */
   .bar .graph .kb { width:70%; animation: progressKB 1s;}

   /* 레어로우 진행바 style */
   .rw__item .bar .graph .fill {background: #75fb4c; color: #222; font-weight: 800;}
   .rw__item  .bar .graph .rw { width:80%; animation: progresRW 1s; }


   /* 삼성증권 진행바 style */
   .ss__item .bar .graph .fill {background: #278AFF;}
   .ss__item  .bar .graph .tj { width:50%; animation: progressTJ 1s; }

  dl dt {padding-bottom: 5px; font-size: 1.3rem; font-weight:600; letter-spacing: -2px;}

  /* 에어비앤비 style */
  .ab__item a { display: inline-block; border: 2px solid #222; border-radius: 10px; padding: 5px 10px; margin-top: 10px;}



  .project__visual img {width: 100%;}
  .project__link p {padding-top: 5%; text-align: center;}